/* Orbitron, Roboto Mono and EB Garamond fonts from Google */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

body {
    margin: 0;
}

button {
    background-color: #bfbfbf;
    border-radius: 5px;
    color: white;
    font-family: "Roboto Mono", sans-serif;
    font-size: 40px;
    margin: 3px;
    padding: 5px;
    width: 90px;
}

p {
    margin: 0;
    padding: 0;
}

.brand {
    color: white;
    font-family: "EB Garamond" serif;
    font-size: 27px;
}

.branding {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.buttons {
    display: flex;
    gap: 20px;
}

.calculator {
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.display {
    background-color: #B1D0B1;
    border: 2px solid black;
    border-radius: 5px;
    text-align: right;
    font-family: "Orbitron", sans-serif;
    font-size: 60px;
    margin: 30px 0px 30px 0px;
    padding: 10px;
}

.clear, .delete, .equals, .negative, .operator {
    background-color: #ff8f66;
}

.model {
    color: goldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
}

.row {
    display: flex;
}

/* Makes the zero button occupy two button widths */
.zero {
    flex: 1;
}

#container {
    align-items: center;
    background-color: ivory;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}